<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="form-div">

    <form action="/addAssociation" method="POST">
        Students_id <input type="text" name="students_id">
        Courses_id<input type="text" name="courses_id">
        <button type="submit">Add now</button>
    </form>

    </div>

    <h2> <%= pageTitle; %></h2>
<div class="flexbox">
    <%- include('partials/dataTables') %>
</div>
    <%- include('partials/footer') %>
</body>
</html>